# Ignore custom ci scripts
scripts

# Ignore node modules
node_modules

# Ignore everything in the static folder
static

#Ignore build js files
build

# Ignore database specific files
db

*/**/*.d.ts

mochawesome-report